body {
  margin: 0;
  padding: 0;
}

.furniture {
  background-image: url("./img/image.png");
  height: 800px;
  width: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(123, 128, 119, 0.6);
  min-height: 800px;
  height: auto;
}

.detail-rec {
  position: absolute;
  border: green 3px solid;
  border-radius: 5px;
  background: rgba(123, 128, 119, 1);
}
